	body {
		overflow: hidden;
	}
    table {
	  width: 780;
	  /* table-layout: fixed; */
	  margin: 2px 2px 2px 10px;
	  border-collapse: collapse;
    }
    thead td { margin: 0px; padding: 2px 0px 0px 0px; font: bold  9pt Verdana,sans-serif }
    tbody td { margin: 0px; padding: 0px 0px 2px 0px; font: 9pt Verdana,sans-serif;  max-width : 250; white-space: nowrap; overflow: hidden; text-overflow : ellipsis }
